{% load static %}

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} {% endblock title %}
    </title>
    <link rel="stylesheet" href = "{% static "css/recipes.css" %}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% block extra_nav %} {% endblock extra_nav %}
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
                        <li><a href="{% url 'category_list' %}">View Expense Categories</a></li>
                        <li><a href="{% url 'create_category' %}">Create Expense Categories</a></li>
                        <li><a href="{% url 'account_list' %}">View Expense Accounts</a></li>
                        <li><a href="{% url 'create_account' %}">Create Expense Accounts</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                    <li><a href="{% url 'home' %}">Main Page</a></li>
                </ul>
            </nav>
        </header>
        {% block content %} {% endblock content %}
        <footer></footer>
    </body>
</html>
