{% extends 'base.html' %}
{% load get_num_categories %}

{% block title %}
Category List
{% endblock title %}

{% block extra_nav %}
{% endblock extra_nav %}

{% block content %}
<main>
    <h1>My Accounts</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Number of receipts</th>
            <th>Number of receipts</th>
        </thead>
        <tbody>
            {% for account in account_objects.all %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.number }}
                <td>
                    {{ account|get_num_categories:all_receipts_objects }}
                </td>
            </tr>
            {% endfor %}
    </table>
</main>
{% endblock content %}
