{% extends 'base.html' %}

{% block title %}
Create an account
{% endblock title %}

{% block extra_nav %}
{% endblock extra_nav %}

{% block content %}
<main>
    <div>
        <h1>Create Account</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}
