{% extends 'base.html' %}

{% block title %}
Main Page
{% endblock title %}

{% block extra_nav %}
{% endblock extra_nav %}

{% block content %}
<main>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
        </thead>
        <tbody>
            {% for receipts in all_receipt_objects.all %}
            <tr>
                <td>{{ receipts.vendor }}</td>
                <td>{{ receipts.total }}</td>
                <td>{{ receipts.tax }}</td>
                <td>{{ receipts.date|date:"m/d/y"}}</td>
                <td>{{ receipts.category }}</td>
                <td>{{ receipts.account }}</td>
            </tr>
            {% endfor %}
    </table>
</main>
{% endblock content %}
